<!doctype html>
<html>
<head>
<link rel = "stylesheet" type = "text/css" href = "style.css"/>
</head>

<body>
  <form action='/sign_up'>
    <input type='submit' value='Sign up'/>
  </form>

  <form action='/log_in'>
    <input type='submit' value='Sign in'/>
  </form>

  <form action='/spaces/new'>
  <input type='submit' value="Host a space"/>
  </form>

  <form action='/bookings/new'>
  <input type='submit' value="Book a space"/>
  </form>

    <div>
    <% if !@user %>  <h1> Welcome to Makers BnB </h1>

    <% else %> <h1> Welcome <%= @user['name'] %>  </h1>

    <% end %>
    </div>
  </body>
  </html>
