<!doctype html>
<html>
<head>
<link rel = "stylesheet" type = "text/css" href = "style.css"/>
</head>

<body>

  <div class="navbar">
    <a href="/sign_up">Sign up</a>
    <a href="/log_in">Log in</a>
    <a href="spaces/new">Host a space</a>
    <a href="bookings/new">Book a space</a>
  </div>


    <div>
    <% if !@user %>  <h1> Welcome to Makers BnB </h1>

    <% else %> <h1> Welcome <%= @user['name'] %>  </h1>

    <% end %>
    </div>
  </body>
  </html>
