<%= @user_name  %>
<%@spaces.each do |space|%>
<li>
<%=space.name%> (<%=space.description%>)
<form action='/bookings/request/<%=space.id%>'>
    <input type='submit' value='Book'/>
</form>
</li>
<%end%>

<form action='/spaces/new'>
<input type='submit' value="Host a space"/>
</form>

<form action='/profile'>
<input type='submit' value="Profile"/>
</form>

<form action='/'>
<input type='submit' value="Log out"/>
</form>
