<head><title>List a space</title></head>
  <h1>List a space</h1>
  <form action='/spaces/new' method='post'>
      <input type='text' name='name' placeholder='name'/>
      <input type='text' name='description' placeholder='description'/>
      <input type='text' name='price' placeholder='Price per Night'/>
      <input type='text' name='available_from' placeholder='Available from'/>
      <input type='text' name='available_to' placeholder='Available to'/>
      <input type='submit' value='List my space' placeholder='List my space'/>
  </form>
