<!doctype html>
  <html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "../style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form action='/' method='get'>
         <button class="btn"><i class="fa fa-home"></i></button>
    </form>
    </head>

    <body>

      <title>List a space</title>
        <h2>List a space</h2>
        <form action='/spaces/new' method='post'>
            <input type='text' name='name' placeholder='name'/>
            <input type='text' name='description' placeholder='description'/>
            <input type='text' name='price' placeholder='Price per Night'/>
            <input type='date' name='available_from' placeholder='Available from'/>
            <input type='date' name='available_to' placeholder='Available to'/>
            <input type='submit' value='List my space' placeholder='List my space'/>
        </form>
        </body>
        </html>
