<!doctype html>
  <html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "../style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form action='/' method='get'>
         <button class="btn"><i class="fa fa-home"></i></button>
    </form>
    </head>

    <body>
        <%if @range.cover?(@booking_date)%>
         Available Booked
        <%else%>
         'Not available'
        <%end%>
    </body>

</html>
