<%if @range.cover?(@booking_date)%>
     Available Booked
    <%else%>
     'Not available'
    <%end%>

 <form action='/profile' method='get'>
      <input type='submit' value='View Profile' />
</form>