Please select a date:

 <form action='/bookings/request' method='post'>
    <input type='date' name='booking_date'/>
    <input type='submit' value='Request booking' />
</form>

 <form action='/index2' method='get'>
      <input type='submit' value='home' />
</form>