Please select a date:

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

 <form action='/bookings/request' method='post'>
    <input type='date' name='booking_date'/>
    <input type='submit' value='Request booking' />
</form>

 <form action='/index2' method='get'>
      <input type='submit' value='home' />
</form>


